.card-wrapper {
  margin-top: 15px;
}

.no-list-text {
  display: flex;
  font-size: 12px;
  margin-top: 50px;
}

.card-list{
  overflow-y: auto;
  height: 68vh;
  padding: 10px;
}

.card-list::-webkit-scrollbar {
  width: 0.5em;
}

.card-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}